.container-fluid{
    /* padding: 7% 15%; */
    margin-top:7%;
    width: 75%;
    border-radius: 4px;
    border: none;
}

.btn-secondary{
    margin-left:2%;
}
.btn-primary{
    margin-left: 30%;
    margin-top: 10%;
}
.col{
    padding: 5%;
    align-items: center;
}

input{
    border:none;
}

.navbar{
    padding: 7% 15%;
    align-items: center;
    color: white;
}
